.mainContainer {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 2.5em auto;
}

.feedPostsContainer {
    width: 100%;
    max-width: 450px;
}

.suggestedUsersContainer {
    /* border: 1px solid magenta; */
    grid-column: 3;
    display: none;
}

@media (min-width: 768px) {
    .mainContainer {
        width: 70%;
        grid-template-columns: 2fr .5fr 1fr;
    }
    
    .suggestedUsersContainer {
        display: block;
    }
}