.mainContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 2.5em auto;
    justify-items: center;
}

.feedPostsContainer {
    width: 100%;
    max-width: 450px;

}

.suggestedUsersContainer {
    display: none;
}

@media (min-width: 1000px) {
    .mainContainer {
        width: 70%;
        grid-template-columns: 2fr .1fr 1fr;
    }
    
    .suggestedUsersContainer {
        display: block;
        width: 100%;
        grid-column: 3;
        max-width: 300px;
    }
}