.feedPost {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 2em;
}
.feedPostHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.feedPostFooter {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@media (min-width: 768px) {
    .feedPostHeader, .feedPostFooter {
        padding: 0;
    }
}