.feedPost {
    /* border: 1px solid magenta; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.feedPostHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.feedPostFooter {
    padding: 0 1em;
}